<a href="https://colab.research.google.com/github/MAlam1802/begining-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
x=10
print(x/2)

5.0

In [ ]:
a=3
b=5
c=a**2+b**2
c

34

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Mango
Hello, Mango

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c=a**2+b**2
print(c)

Enter a: 944
Enter b: 967
1826225

In [ ]:
#create a list with 3 elements and print them
my_list = ["Hello", "World","Charles Darwin"]

#substituting an item at index 2 on the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [ ]:
#append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [ ]:
print(my_list[2:4])

['Alfred R. Wallace', 'Charles Darwin']

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfredRWallace"
print(my_string[0:5], my_string[5:10])

Hello World

In [ ]:
print(my_string[30:37], my_string[5:10])

Wallace World

In [ ]:
my_string_1 = "cyh6hsVrrQw0AaEg2xLB9XL2RX9Lvl75umkbPAcipensergnNqVQQhFZi00bg683lwRVl5TcvsFICzmrbkq3RXfrSbo4C0Fzn67kTQNINo299nvAXkTQkWQXBWXsavigniii2K28n0VaJTATRixpJzhtYb6fKBR6GFZ."
print(my_string_1[37:46], my_string_1[123:131])

Acipenser savignii

In [3]:
a=5
b=5
if a!=b:
  print(a-b)
else:
  print(a*b)

25

In [10]:
# initiating a counter
a = 4
#print "counting!" while a<=3
while a <= 3:
  print ('Counting!' * a)
  #a+=1

In [11]:
names = ["Alice", "Bob", "Charley"]
for name in names:
  print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [12]:
var = [2,3,4]
for x in var:
  print(x+5)

7
8
9

In [15]:
# create a variable to define the number of iterations
iterations = 10
# print the current item's value each time through the loop
for number in range(iterations):
  print(number+11)

11
12
13
14
15
16
17
18
19
20

In [18]:
a=4477
b=8930
odd_numbers_in_range = [num for num in range(a, b + 1) if num % 2 != 0]
print(sum(odd_numbers_in_range))

14927581