<a href="https://colab.research.google.com/github/MAlam1802/begining-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
x=10
print(x/2)

5.0

In [ ]:
a=3
b=5
c=a**2+b**2
c

34

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Mango
Hello, Mango

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c=a**2+b**2
print(c)

Enter a: 944
Enter b: 967
1826225

In [ ]:
#create a list with 3 elements and print them
my_list = ["Hello", "World","Charles Darwin"]

#substituting an item at index 2 on the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [ ]:
#append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [ ]:
print(my_list[2:4])

['Alfred R. Wallace', 'Charles Darwin']

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfredRWallace"
print(my_string[0:5], my_string[5:10])

Hello World

In [ ]:
print(my_string[30:37], my_string[5:10])

Wallace World

In [ ]:
my_string_1 = "cyh6hsVrrQw0AaEg2xLB9XL2RX9Lvl75umkbPAcipensergnNqVQQhFZi00bg683lwRVl5TcvsFICzmrbkq3RXfrSbo4C0Fzn67kTQNINo299nvAXkTQkWQXBWXsavigniii2K28n0VaJTATRixpJzhtYb6fKBR6GFZ."
print(my_string_1[37:46], my_string_1[123:131])

Acipenser savignii

In [3]:
a=5
b=5
if a!=b:
  print(a-b)
else:
  print(a*b)

25

In [10]:
# initiating a counter
a = 4
#print "counting!" while a<=3
while a <= 3:
  print ('Counting!' * a)
  #a+=1

In [11]:
names = ["Alice", "Bob", "Charley"]
for name in names:
  print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [12]:
var = [2,3,4]
for x in var:
  print(x+5)

7
8
9

In [15]:
# create a variable to define the number of iterations
iterations = 10
# print the current item's value each time through the loop
for number in range(iterations):
  print(number+11)

11
12
13
14
15
16
17
18
19
20

In [18]:
a=4477
b=8930
odd_numbers_in_range = [num for num in range(a, b + 1) if num % 2 != 0]
print(sum(odd_numbers_in_range))

14927581

In [35]:
with open("practice.txt","r") as data:
  print(data.read())
  print(data.readline())
  print(data.readlines())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

[]

In [33]:
with open("practice.txt","r") as data:
  list_of_line=data.readlines()
  print(list_of_line)

['Bravely bold Sir Robin rode forth from Camelot\n', 'Yes, brave Sir Robin turned about\n', 'He was not afraid to die, O brave Sir Robin\n', 'And gallantly he chickened out\n', 'He was not at all afraid to be killed in nasty ways\n', 'Bravely talking to his feet\n', 'Brave, brave, brave, brave Sir Robin\n', 'He beat a very brave retreat']

In [44]:
with open("practice.txt", "r") as infile, open("even_lines.txt", "w") as outfile:
    for i, line in enumerate(infile):

        if i % 2 != 0:
            outfile.write(line)

print('even_lines.txt')

even_lines.txt

In [57]:
with open("rosalind_ini5.txt", "r") as infile, open("even_lines_1.txt", "w") as outfile:
    for i, line in enumerate(infile):
        if i % 2 != 0:
            outfile.write(line)

print('even_lines_1.txt')

even_lines_1.txt

In [56]:
with open("even_lines_1.txt","r") as data:
  print(data.read())

Some things in life are bad, they can really make you mad
Other things just make you swear and curse
When you're chewing on life's gristle, don't grumble give a whistle
This will help things turn out for the best
Always look on the bright side of life
Always look on the right side of life
If life seems jolly rotten, there's something you've forgotten
And that's to laugh and smile and dance and sing
When you're feeling in the dumps, don't be silly, chumps
Just purse your lips and whistle, that's the thing
So, always look on the bright side of death
Just before you draw your terminal breath
Life's a counterfeit and when you look at it
Life's a laugh and death's the joke, it's true
You see, it's all a show, keep them laughing as you go
Just remember the last laugh is on you
Always look on the bright side of life
And always look on the right side of life
Always look on the bright side of life
And always look on the right side of life

In [69]:
with open("rosalind_ini6.txt", "r") as data:
  line = data.read()
  word_counts = Counter(words)

for word, count in word_counts.items():
    print(f"{word} {count}")

We 1
tried 3
list 1
and 1
we 2
dicts 1
also 1
Zen 1

In [79]:
from collections import Counter

with open("rosalind_ini6.txt", "r") as data:
  line = data.read()
  words = line.split() # Split the line into words
  word_counts = Counter(words)

for word, count in word_counts.items():
    print(f"{word} {count}")

When 1
I 2
find 1
myself 1
in 4
times 1
of 11
trouble 1
Mother 2
Mary 2
comes 2
to 3
me 4
Speaking 3
words 7
wisdom 7
let 30
it 36
be 41
And 3
my 1
hour 1
darkness 1
she 1
is 4
standing 1
right 1
front 1
Let 6
Whisper 4
when 2
the 4
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 4
will 5
an 4
answer 4
For 1
though 1
they 2
may 1
parted 1
there 2
still 2
a 2
chance 1
that 2
see 1
night 1
cloudy 1
light 1
shines 1
on 1
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 2

In [82]:
with open("rosalind_ini6.txt", "r") as data:
  s = data.read().strip()
a_count = s.count('A')
c_count = s.count('C')
g_count = s.count('G')
t_count = s.count('T')

print(f"{a_count} {c_count} {g_count} {t_count}")

3 0 0 4

In [84]:
with open("rosalind_dna.txt", "r") as data:
  s = data.read().strip()
a_count = s.count('A')
c_count = s.count('C')
g_count = s.count('G')
t_count = s.count('T')

print(f"{a_count} {c_count} {g_count} {t_count}")

215 215 189 231