<a href="https://colab.research.google.com/github/MAlam1802/begining-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
x=10
print(x/2)

5.0

In [2]:
a=3
b=5
c=a**2+b**2
c

34

In [1]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Mango
Hello, Mango

In [10]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c=a**2+b**2
print(c)

Enter a: 944
Enter b: 967
1826225

In [18]:
#create a list with 3 elements and print them
my_list = ("Hello", "World","Charles Darwin")

#substituting an item at index 2 on the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [19]:
#append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [20]:
my_list = ["apple", "banana", "cherry"]
my_list.insert(1, "orange")
print(my_list)

# Example inserting beyond the current length
my_list.insert(11, "grape")
print(my_list)

['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'banana', 'cherry', 'grape']

In [21]:
my_list.insert(2, "strawberry")
print(my_list)

['apple', 'orange', 'strawberry', 'banana', 'cherry', 'grape']